*{
     /* background-image: url(../images/ocean.png); 
     background-repeat:no-repeat;
    background-size: cover; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  .container-xxl{
    margin-top: 200px;
    width:100px;
    height: 300px;
    border-color: rgb(161, 193, 219);

  }

  .container-xxl h1{
margin-left: 500px;
/* background-color: rgb(161, 193, 219) ; */
color:rgb(161, 193, 219);

  }

  form{
    margin-left: 500px;
    /* background-color: rgb(161, 193, 219) ; */

  }

  form input{
    border-radius: 0.3rem;
    margin-top: 10px;
    border-color: rgb(161, 193, 219);

  }

  form button{
    border-radius: 0.3rem;
    /* background-color: rgb(161, 193, 219) ; */
margin-top: 20px;
background-color: rgb(161, 193, 219);
color: aliceblue;
border-color: white;
  }

  a{
    margin-left: 610px;
  }

  #buttom{
    background-color:rgb(161, 193, 219) ;
    color:white;
    border: transparent;
  }

